    <!-- Rich Description Field -->
    <div>
     <label class="block font-semibold">Description</label>
     <textarea id="description" name="description" rows="10"
    class="w-full mt-1 border rounded-lg"></textarea>
    </div>

    <!-- TinyMCE Integration -->
    <script src="https://cdn.tiny.cloud/1/ea8lvzpeukfhja4w3hpe3gu10tio0lzy104pi7s0ksue34ep/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
  tinymce.init({
  selector: '#description',
  height: 300,
  menubar: false,
  plugins: 'lists link image code',
  toolbar: 'undo redo | bold italic underline | bullist numlist | link | code',
  content_style: "body { font-family: Poppins, sans-serif; font-size: 14px; }"
});
</script>